*{
    font-family: "Sofia", sans-serif;
    background-color: #DBE2EF;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
}
h2{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
    font-size: 40px;
    
}
h3{
    background-color: #3F72AF;
    color: white;
    display: flex;
}
h3:hover{
    color: bisque;
}
/* the menu class in the navbar */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-bottom: 4px solid #112D4E;
    background-color:#3F72AF;
}
/* menu items control the <li> elements while nav-link controls the <a> element */
.menu-item{
    padding: 10px;
    list-style-type: none;
    background-color:#3F72AF;
}
.nav-link{
    background-color:#3F72AF;

    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-link:hover{
    color: bisque;
   
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: #DBE2EF;
}
img{
margin: 10px;
border: 4px solid #112D4E;
border-radius: 90px;
}
section{
    margin: 10px;
 
    background-color: #DBE2EF;
}
/* upper-page class is the parent element of the about me and overview sections of the page */
.upper-page{
    display: flex;
    background-color: #DBE2EF;
}
.about-me{
width: 700px;
background-color: #DBE2EF;
border-right: 4px solid #112D4E;
}
.avatar{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
}
/* the overview class is the parent element of the w3-content class and controls the slideshow. */
.overview{
width: 100%;

display: flex;
flex-direction: column;
align-items: center;
}
.w3-content{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
}
/* this section is the parent element of the project and contact element */
.lower-page{
    display: flex;
    flex-direction: column;
    background-color: #DBE2EF;
}
/* this section is the parent element */
.projects{
    background-color: #DBE2EF;
    
}
/* div-horiseon class controls the div thats the parent element of the horiseon img and link */
.div-horiseon{
    display: flex; 
    justify-content: center;
}
div{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}
/* the main-project class controls the 1st project i did "Horiseon" */
.main-project{
    max-height: 1000px; 
    box-shadow: 10px 10px 5px gray;
}
/* this controls all the other projects i worked on */
.other-projects{
    max-width: 400px; 
    min-height: 400px; 
    box-shadow: 10px 10px 5px gray;
}
div{
    background-color: #DBE2EF;
}
.contact{
    background-color: #3F72AF;
}
/* this div is for the first part of the contact section it controls the phone and email items */
.social-primary{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #3F72AF;
}
/* this div is for the second part of the contact section it controls the social media links */
.social-secondary{
    display: flex;
    justify-content: space-around;
    background-color: #3F72AF;
    margin-bottom: 20px;
}
i{
    font-size: 75px;
    background-color: #3F72AF;
    color: #112D4E;
    
}
.icon:hover{
    color: bisque;
}
/* this @media is to prevent the project links from overlapping  */
@media screen and (max-width:1300px) {
    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
/* this @media is for tablets and medium screens */
@media screen and (max-width:600px) {
    .overview{
        display: none;
    }
    i{
        font-size: 50px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .about-me{
        border: none;
    }
    .main-project{
        max-height: 500px;
    }
    .other-projects{
       min-height: 200px;
       max-width: 200px;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 10px;
    }
}
/* this @media is for cellphones and smaller screens */
@media screen and (max-width:360px) {
 i{
    font-size:40px;
 }
   a{
    font-size: 20px;
   }
    h2{
        font-size: 30px !important; 
    }
}