*{
    font-family: "Sofia", sans-serif;
    background-color: #DBE2EF;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
}
h2{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-bottom: 4px solid #112D4E;
    background-color:#3F72AF;
}
.menu-item{
    padding: 10px;
    list-style-type: none;
    background-color:#3F72AF;
}
.nav-link{
    background-color:#3F72AF;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover{
    color: bisque;
   
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: #DBE2EF;
}
img{
margin: 10px;
border: 4px solid #112D4E;

}
section{
    margin: 10px;
 
    background-color: #DBE2EF;
}
.upper-page{
    display: flex;
    background-color: #DBE2EF;
}
.about-me{
width: 700px;
background-color: #DBE2EF;
border-right: 4px solid #112D4E;
}
.avatar{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
}
.overview{
width: 100%;

display: flex;
flex-direction: column;
align-items: center;
}
.w3-content{
    display: flex;
    justify-content: center;
    background-color: #DBE2EF;
}

.lower-page{
    display: flex;
    flex-direction: column;
    background-color: #DBE2EF;
}
.projects{
    background-color: #DBE2EF;
}
div{
    background-color: #DBE2EF;
}
div img{
    border-radius: 90px;
}
.contact{
    background-color: #3F72AF;
}
.social-primary{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #3F72AF;
}
.social-secondary{
    display: flex;
    justify-content: space-around;
    background-color: #3F72AF;
    margin-bottom: 20px;
}
i{
    font-size: 75px;
    background-color: #3F72AF;
}
i:hover{
    color: bisque;
}